:root {
    --primary-color: #ffe9e9;
    --bg-color: #433b3b;
    --color-black: #282828;
    --color-btn-yellow: #f4b323;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

header {
    height: 60px;
    padding: 0 20px;
    background-color: #433b3b;
    border-bottom: var(--primary-color) 1px solid;
    position: fixed;
    width: 100%;
    z-index: 1000;
    overflow: hidden;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
}

.container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
    overflow-x: hidden;
}

.logo {
    width: 50px;
    height: 50px;
}

.menu {
    height: 100%;

    ul {
        display: flex;
        gap: 20px;
        height: 100%;
        margin: 0;
        align-items: stretch;

        a {
            align-content: center;
            height: 100%;
            display: inline-block;
            align-items: center;
            padding: 5px;
            transition: all .3s ease;
            white-space: nowrap;

            &:hover {
                background-color: #dfb8b8;
                color: var(--bg-color);
            }
        }
    }
}

.links {
    margin-left: auto;
    align-content: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        li {
            width: 32px;
            height: 32px;
        }

        a:hover {
            transition: transform .3s ease;

            img {
                transform: scale(1.2);
            }
        }
    }
}

.home {
    background: url('img/bg.jpg') center / cover no-repeat;
    height: calc(100dvh - 60px);
    display: flex;
    margin-bottom: 30px;


}

.home-content {
    margin-left: calc(100% - 500px - 20%);
    margin-top: 10%;
    background: #0606061f;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.83);
    height: min-content;
    padding: 20px 50px 50px 50px;

    .text {
        font-size: 2rem;
        width: 500px;
        margin-bottom: 20px;
        color: var(--primary-color);
    }
}



h1 {
    color: var(--primary-color);
    font-family: "Montserrat", serif;
    font-size: 3rem;
    width: 400px;
    text-align: left;
    margin-bottom: 20px;
}

.btn {
    color: var(--primary-color);
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease;
    align-self: center;
    border-radius: 20px;
    border: 1px solid var(--primary-color);

    &:hover {
        background-color: var(--bg-color);
        border-color: transparent;
    }
}

dialog[open] {
    position: fixed;
    inset: 0;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 0;
    z-index: 1000;
    display: flex;
    color: var(--primary-color);
    background-color: var(--bg-color);
    padding: 0;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}



.close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: background-color .3s ease;


    &:hover {
        background-color: var(--primary-color);
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        background-color: #000;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {

        transform: translate(-50%, -50%) rotate(-45deg);

    }

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;

    h4 {
        font-size: 28px;
    }

    label {
        font-size: 16px;
    }

    input {
        border: 1px solid transparent;
        border-bottom: 1px solid;
        background: inherit;
        padding: 10px 0;
        font-size: 15px;

        &:focus {
            border: 1px solid var(--primary-color);
            border-radius: 5px;
        }
    }
}

button {
    font-size: 16px;
}

.btn {
    background-color: #433b3b;

    &:hover {
        background-color: var(--primary-color);
        color: var(--color-black);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate {
    --duration: 0.3s;
    animation-duration: var(--duration);
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeIn;
    animation-direction: reverse;
}

.about {


    .container {
        font-size: 18px;

        .title {
            font-weight: 400;
        }

        .title,
        h2 {
            text-align: center;
        }

    }
}

.div-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .two {
        grid-column: 1;
        grid-row: 3;
    }

    .three {
        grid-column: 2;
        grid-row: 1/3;

    }

    .five {
        grid-column: 3;
        grid-row: 2;
    }

    .six {
        grid-column: 3;
        grid-row: 3;
    }
}

.div-grid-item {
    height: 300px;
}

.teacher-section {
    margin-bottom: 150px;

    h2 {
        text-align: center;
    }

    blockquote {
        font-style: italic;
        margin: 0;
        padding-left: 20px;
        border-left: 4px solid #ccc;

        line-height: 1.5;
        height: fit-content;
        margin-bottom: 10px;
    }

}

.teacher {
    display: flex;
    justify-content: space-between;



}

.description-teacher {
    width: 48%;
    color: #252525;
    font-size: 20px;

    h3 {
        margin: 10px;
    }

    .education {
        h3 {
            font-size: 1.4rem;
        }


    }
}

.teacher-img {
    width: 48%;
}

.question {
    margin-bottom: 150px;

    .container {
        display: flex;
        gap: 20px;
        overflow-x: hidden;
        min-height: calc(45dvh + 40px);
    }


}

.question-content {
    width: 48%;

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 50px;
    }

    button {
        margin-left: 50%;
        transform: translateX(-50%);

    }
}

.question-img {
    position: relative;
    width: 48%;

    ul {
        position: absolute;
        top: 10%;
        right: -4%;
        width: 400px;
        height: 380px;
        background-color: rgb(255 255 255 / 92%);
        font-size: 1.5rem;
        padding: 40px 30px 40px 60px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        li {
            margin-bottom: 20px;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--color-btn-yellow);
                position: absolute;
                top: 12px;
                left: -46px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 17px;
                height: 10px;
                top: 19px;
                left: -40px;
                border-bottom: 3px solid white;
                border-left: 3px solid white;
                transform: rotate(-45deg);

            }
        }
    }
}

.btn-yellow {

    --color-btn-yellow-text: #ffffff;
    color: var(--color-btn-yellow-text);
    background-color: var(--color-btn-yellow);
    border-color: transparent;
    font-size: 1.2rem;
    transition: all .3s ease;

    &:hover {
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
        background-color: var(--color-btn-yellow);
    }
}

footer {
    background-color: var(--bg-color);
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    h3 {
        color: whitesmoke;
        font-size: 1.5rem;
        width: 400px;
    }
}



.links-footer {
    display: flex;

    gap: 3%;

    ul {
        padding: 0;

        li {
            margin-bottom: 10px;

            a {
                white-space: nowrap;
            }

            a:hover {
                color: white;
            }


        }
    }

}

.burger {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.2);
    }

    span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color-btn-yellow);
        top: 50%;
        transition: all .3s ease;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-btn-yellow);
        position: absolute;
        transition: all .3s ease;
    }

    &::before {
        top: 2px;
    }

    &::after {
        bottom: 0;
    }

}

.burger.open {
    span {
        transform: scale(0);
    }

    &::before {
        transform: rotate(45deg);
        top: 41%;
    }

    &::after {
        transform: rotate(-45deg);
        bottom: 50%;
    }
}

.mobile-panel {
    position: fixed;
    top: 50px;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 1000;
    transform: translateX(300px);
    transition: all .3s ease;

    .show-mobile-panel {
        transform: translateX(0);
    }

    ul {
        padding: 0;

        li {

            width: 100%;

            border-bottom: 1px solid var(--color-btn-yellow);

            a {
                padding: 20px;
                display: block;
                width: 100%;
                transition: background-color .3s ease;

                &:hover {
                    background-color: var(--color-btn-yellow);
                    color: var(--bg-color);
                }
            }
        }
    }
}

.open {
    .show {
        transform: translateX(0);
    }

    .page-shadow {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
}



@media screen and (max-width: 1200px) {
    .question {
        .container {
            flex-direction: column;


        }
    }


    .question-content {
        align-self: center;
        margin-bottom: 50px;
    }

    .teacher {
        flex-direction: column;
        align-items: center;

        .teacher-img {
            margin-bottom: 40px;
        }

        blockquote {
            margin-bottom: 40px;
        }
    }

    .div-grid {

        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .div-grid-item {
            height: max-content;
        }


        .two,
        .three,
        .five,
        .six {
            grid-column: 1;
            height: max-content;
            grid-row: auto;
        }

        .three {
            grid-row: 1;
            width: 300px;
            justify-self: center;
        }

        .first {
            grid-row: 3;
        }



    }

    .question-img ul {


        top: 0%;
        right: -12%;
    }

    .question-img {
        width: 90%;


    }

    .description-teacher,

    .teacher-img,
    .question-content {
        width: 100%;
    }

    .home-content {
        margin: auto;
        padding: 20px 260px 20px 40px;

        font-size: 14px;

        h1 {
            width: 500px;
        }
    }

    .links-footer {
        font-size: 14px;
    }


}

@media screen and (max-width: 850px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
    }
}