.home {
    background: url('../img/bg.jpg') top 60px center / cover no-repeat;
    height: calc(100vh);
    display: flex;
    margin-bottom: 30px;
}

.home-content {
    margin-left: calc(80% - 500px);
    margin-top: 10%;
    background: #0606061f;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.83);
    height: min-content;
    padding: 20px 50px 50px 50px;

    .text {
        font-size: 2rem;
        width: 500px;
        margin-bottom: 20px;
        color: var(--primary-color);
    }
}

h1 {
    color: var(--primary-color);
    font-family: "Montserrat", serif;
    font-size: 3rem;
    width: 400px;
    text-align: left;
    margin-bottom: 20px;
}